@model ProgrammingProject.Areas.Administration.Models.Section.Section

<div class="row text-white">
    <div class="col-6 w-100 p-4" style="display: inline-block; background-color: rgba(0,0,0, 0.95); border-radius: 15px;   color: #f1f1f1; ">
        <form>
            <div class="form-group m-0">
                <label asp-for="@Model.RestaurantId">Restaurants:</label>
                <select class="form-control mb-3" style="border-radius: 5px; height: 35px; padding: 0.375px; border: 1px solid;" asp-for="@Model.RestaurantId" asp-items="@Model.Restaurants">
                    <option value="">Select a Restaurant</option>
                </select>
            </div>
            <div class="form-group m-0">
                <label asp-for="@Model.Name">Section Name:</label>
                <input class="form-control mb-4" type="text" asp-for="@Model.Name" />
            </div>
            <input type="submit" formmethod="post" asp-area="Administration" asp-controller="Section" asp-action="Create" />
        </form>
    </div>
</div>
